:root {

}
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/* Denne gør at wireframe bliver delt op i rows*/
body {
	background-color: black;
    display: flex;
    justify-content: space-between;
}



/**************stiky head************************/
.top-container {
	background-color: #ffffff;
	padding: 30px;
	text-align: center;
  }

  .header {
	padding: 15px 5px;
	background: #101010;
	color: #f1f1f1;
    border-radius: 8px;
  }
  
  .content {
	padding: 16px;
  }
  
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 102px;
  }

/******************************/
.backForward-TilmeldLogpå{
    display: flex;
    justify-content: space-between;
}
.backForward{
    display: flex;
    padding: 10px;
    margin-top: -20px;
    padding: 28px;
    margin-left: 0px;
}
.back{
    background-color: #2a2a2a;
    border-radius: 20px;
    margin-right: 17px;
}
.forward{
    background-color: #2a2a2a;
    border-radius: 27px;
}
.TilmeldLogpå{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.tilmeld{
    padding: 15px;
}
.logPå{
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 25px;
    margin-left: 49px;
    margin-right: 31px;
    padding-right: 33px;
    padding-left: 33px;
}
  
  a {
	text-decoration: none;
	color: white;
	display: flex;
  }
  .content{
    background: linear-gradient(to bottom,#202020 0%, black 100%);
  }
  h3{
	color: white;
    font-size: 1.5rem;
 
  }

  .navBar{
    display: flex;
    flex-direction: column;
  }

  .playlister {
    display: flex;
    margin-bottom: 188px;
  }

  .PlaylisteNr {
    padding: 18px;
    margin-left: 25px;
    border-radius: 8px;
    background: linear-gradient(to bottom, #101010 0%, #202020 100%);
  }
  .PlaylistText {
    color: white;
  }

  .visAlle{
    display: flex;
    justify-content: space-between
  }

  /*******************NavigationBar********************/
  .NavigationBar{
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
  }




  /************Navigation*********************/
  .navBar{
    background-color: #101010;
    border-radius: 8px;
    margin-bottom: 10px;
    display: grid;
    padding: 10px;
  }

  .logPå{
    background-color: white;
  }



  /*****************dit biblotek*******************/
.headerNav{
    background-color: #101010;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 45px;
    height: 21.5em;
}
  .OpretPlayliste{
    background-color: #202020;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 10px;
}

.UdforskPodcasts{
    background-color: #202020;
    border-radius: 8px;
    padding: 10px;
}

h2{
    color: white;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}
h4{
    color: white;
    font-size: 1rem;
    margin-top: 0px;
}
p{
    color: white;
}

.bottomNav{
    background-color: #101010;
    display: grid;
    margin-top: -122px;
    border-radius: 8px;
}
