---
/*const header = Astro.props.header;
const text = Astro.props.text;*/

const { header } = Astro.props;

---

<article class="Card">
    <h2>{header}</h2>
    <slot />
</article>

<style>
    p{
        color: royalblue;
    }
    .card {
        color: azure;
    }
</style>